Python for Data Science

In [ ]:
a=10
b=2.2
print(type(a))
type(b)
#type(a)

<class 'int'>

float

In [ ]:
s=False
type(s)

bool

In [ ]:
#slicing and Striding
str1="Python Programming"
print(str1[-1])
print(len(str1))
print(str1[1:6:1])
print(str1[-1:6:-2])
print(str1[-1:-6:-1])
print(str1[-1:6:-2])
print(str1[-1:-6:2])

g
18
ython
gnimm
gimroP

In [ ]:
#To search a character or substring in given string it is used
print("P" in str1)
print("thon" in str1)
print("thon Programming" in str1)

True
True
True

In [ ]:
#tuple
t1=(1,"python",2.5)
print(type(t1))
print(t1)
t2=(t1)
t3=t1+t2
print(type(t2))
print(t2*4)
print(t3)

<class 'tuple'>
(1, 'python', 2.5)
<class 'tuple'>
(1, 'python', 2.5, 1, 'python', 2.5, 1, 'python', 2.5, 1, 'python', 2.5)
(1, 'python', 2.5, 1, 'python', 2.5)

In [ ]:
#nested tuple
tt1=(3,4),
tt2=(4,5),
tt3=tt1+tt2
print(tt3)
print(len(tt3))
print(type(tt3))

((3, 4), (4, 5))
2
<class 'tuple'>

In [ ]:
#List
l1=[1,"hi",5.2,5.222]
print(l1)
print(type(l1))
len(l1)
l1[1]="hlo"
print(l1)

[1, 'hi', 5.2, 5.222]
<class 'list'>
[1, 'hlo', 5.2, 5.222]

In [ ]:
#sublist
l2=[[2,3,6],["hi",1.2],[4,"python",True]]
print(l2)
print(type(l2))
print(l2[:])
print(l2[1:-1])
del(l2[2])
print(l2)

[[2, 3, 6], ['hi', 1.2], [4, 'python', True]]
<class 'list'>
[[2, 3, 6], ['hi', 1.2], [4, 'python', True]]
[['hi', 1.2]]
[[2, 3, 6], ['hi', 1.2]]